<%- include('partials/head.ejs') %>
<body>

    <%- include('partials/header.ejs') %>

    <main>
        <div class="container">
            <div class="container-pergunta">
                <h1><%= pergunta.titulo %></h1>
                <hr>
                <p><%= pergunta.descricao %></p>
            </div>
            <hr>
            <div>
                <form class="formulario-resposta" action="/salvarResposta" method="POST">
                    <input type="hidden" name="perguntaId" value="<%= pergunta.id %>">
                    <label for="conteudo">Responda</label>
                    <textarea name="conteudo" rows="10" required></textarea>
                    <button type="submit">Responder</button>
                </form>
            </div>

            <% respostas.forEach(resposta => { %>
                <div class="container-resposta">
                    <p><%= resposta.conteudo %></p>
                    <hr>
                    <span class="data-resposta"><%= resposta.createdAt %></span>
                </div>          
            <% }) %>
        </div>
    </main>

</body>
</html>